server/node_modules/
.idea
server/dist
server/.env
# Elastic Beanstalk Files
server/.elasticbeanstalk/*
!server/.elasticbeanstalk/config.yml
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
