# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@2.0.3
  eb: circleci/aws-elastic-beanstalk@2.0.1

commands:
  list_dirs:
    description: "List Current Environment Dirs"
    steps:
      - run:
          name: List ALL
          command: ls
  install_server:
    description: "Command for Server Installation"
    steps:
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package.json" }}
            - v2-dependencies-
      - run :
          name: Install Server Dependencies
          command: yarn server:install
      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "package.json" }}

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  build:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: cimg/base:stable
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - node/install
      - node/install-yarn
      - checkout
      - install_server
      - run:
          name: Build Server
          command: yarn server:build
      - persist_to_workspace:
          root: ./
          paths:
            - ./
  deploy:
    docker:
      - image: "cimg/base:stable"
    steps:
      - attach_workspace:
          at: ./
      - aws-cli/setup
      - eb/setup
#      - checkout
#      - install_server
      - list_dirs
      - run:
          name: Deploy Server
          command: yarn server:deploy


workflows:
  build_test_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build

