version: 2.1
orbs:
  node: circleci/node@4.1.0
  aws-cli: circleci/aws-cli@2.0.3
  eb: circleci/aws-elastic-beanstalk@2.0.1

# Application Re-usable Commands
commands:
  list_dirs:
    description: "List Current Environment Dirs"
    steps:
      - run:
          name: List ALL
          command: ls server/
  install_server:
    description: "Command for Server Installation"
    steps:
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package.json" }}
            - v2-dependencies-
      - run :
          name: Install Server Dependencies
          command: yarn server:install
      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "package.json" }}
  build_server:
    description: " Runs Commands Responsible for Building the Server"
    steps:
      - run:
          name: Build Server
          command: yarn server:build
  test_server:
    description: " Runs Commands Responsible for Testing the Server"
    steps:
      - run:
          name: Test Server
          command: yarn server:test
  deploy_server:
    description: " Runs Commands Responsible for Deploying the Server"
    steps:
      - run:
          name: Test Server
          command: yarn server:deploy
# ........................ CI/CD Jobs ..................................
# Each Step in CI/CD Workflow below is defined here, using Circle CI   .
# persist_to_workspace to keep the build files for testing and deploy  .
# ......................................................................
jobs:
  build:
    docker:
      - image: cimg/base:stable

    steps:
      - node/install
      - node/install-yarn
      - checkout
      - install_server
      - build_server
      - persist_to_workspace:
          root: ./
          paths:
            - ./
  test:
    docker:
      - image: cimg/base:stable
    steps:
      - attach_workspace:
          at: ./
      - node/install
      - node/install-yarn
      - test_server
  deploy:
    docker:
      - image: "cimg/base:stable"
    steps:
      - attach_workspace:
          at: ./
      - node/install
      - node/install-yarn
      - aws-cli/setup
      - eb/setup
      - list_dirs
      - deploy_server

# ...................... CI/CD Workflow ..............................
# The Server is build and tested using the defined jobs and commands .
# the Deployment then start using Elastic Beanstalk CLI              .
# ....................................................................
workflows:
  build_test_deploy:
    jobs:
      - build
      - test:
          requires:
            - build
      - deploy:
          requires:
            - test
